@use "../../Style/variables" as *;
@use "../../Style/mixins" as *;

.ytList {
  min-height: 100vh;

  &__container {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    margin: 30px auto 0px auto;
    padding: 20px 20px;
    animation: widthAnimation 0.4s linear 0.2s both;
    overflow: hidden;
    @include setBackground();
    color: $primary-color;
  }

  &__title {
    font-size: 4rem;
    text-align: center;
    margin-bottom: 30px;
    font-family: "Cinzel Decorative", cursive;
  }

  &__channels {
    max-width: 1200px;
    margin: 25px auto 0px auto;
    flex-wrap: wrap;
    @include setBackground();
    @include setFlex($justify-content: center);
  }
}

@media all and (max-width: 1150px) {
  .ytList {
    padding: 80px 0px 0px 0px;

    &__container {
      margin: 0px;
    }
  }
}
