@use "../../../../Style/variables" as *;
@use "../../../../Style/mixins" as *;

.rating {   
    margin-top: 20px;

    &__text {
        text-align: center;
        font-size: 1.6rem;
        margin-bottom: 10px;
    }

    &__numbers {
        list-style: none;
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
        @include setFlex();
    }

    &__number {
        text-align: center;
        width: 100%;
        font-size: 2.0rem;
        border-left: 2px solid $secondary-color;
        cursor: pointer;
        padding: 5px;
        transition: 0.2s;

        &--five {
            border-right: 2px solid $secondary-color;
        }
    }
    &__number:hover {
        padding: 0px 5px 10px 5px;
    }
}