@use "./variables" as *;

.inputs {
    font-family: "Open Sans", sans-serif;
    font-size: 1.4rem;
    color: $primary-color;
    margin: 10px 20px;
    padding: 10px 25px;
    background-color: transparent;
    cursor: pointer;
    border: $borderBtn;
    border-radius: $border-radius;

    &--contact {
        width: 100%;
    }

    &--search {
        margin: 0px;
        font-size: 1.5rem;
        width: 100%;
        max-width: 350px;
        text-align: center;
        background-color: $inputBackground;
    }

    &--password {
        -webkit-text-security: disc;
    }
}