.App {
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
    font-family: inherit;
    background-image: url(./assets/img/Metin_2_Sura.jpg);
    transition: 0.4s;
}

.homeP {
    background-image: url(./assets/img/Metin_2_Sura.jpg);
}

.serverListP {
    background-image: url(./assets/img/Metin_2_Giant.jpg);
}

.YtP {
    background-image: url(./assets/img/Metin_2_Dragon.jpg);
}

.contactP {
    background-image: url(./assets/img/Metin_2_Assassin.jpg);
}